* {
  text-align: center;
  font-family: Arial
}
body {
  background: #141718;
}
.heading {
  font-family: Arial;
  margin-top:10vh;
  color: white;
}

.URL-input {
  font-size:1.3em;
  padding:5px 10px;
  border-radius:4px 4px 4px 4px;
  width:31em;
  text-align: left;
  align-self: center;
  border:2px solid #3c4244;
  background: #222527;
  color: rgb(155, 155, 155);
  outline:none;
}
.URL-input:focus {
  border:2px solid #0485ff;
  color: white;
}

.btn {
  border-radius:4px 4px 4px 4px;
  border:9px solid #0485ff;
  background: #0485ff;
  color:white;
}
.video {
  padding:20px 10px;
  align-self: center;
}
.video:fullscreen {
  padding: 0px 0px;
}
.search {
  font-family: Arial;
  margin-top:3vh;
  color: white;
}

div.aligned {
  display: flex;
  align-items: center;
  margin-bottom:10px;
  padding:0.01em 16px;
  color:#000!important;
  background-color: rgb(38, 13, 13)!important;
  border-left:6px solid #ccc!important;
  border-color:#f32121!important;
  padding-top: 1px;
  padding-bottom: 1px;
}
p.sidetext {
  padding: 10px;
  text-align: left;
  font-family: Arial;

}
p, h3 {
  font-family: Arial;
  color: #ffffff;
}
.alignedclear {
  display: flex;
  align-items: center;
  margin-bottom:10px;
  padding:0.01em 16px;
  color:#000!important;
  border-left:6px solid #ccc!important;
  padding-top: 1px;
  padding-bottom: 1px;
  border-color: azure!important;
  background-color: rgba(179, 179, 179, 0.295)!important;
  border-radius: 0px 5px 5px 0px;
}