<html>
  <link rel="stylesheet" href="watch/style.css">
  <head>
    <link rel="icon" href="favicon.png">
    <title>Download API</title>
  </head>
  <body>
    <h1 class="heading">Download API Viewer</h1>
    <input id="txt" class="URL-input" placeholder="Video URL">
    <video class="video" width="640" height="360" id="video" controls autoplay="false">
      <source id="source" src="" type="video/mp4">
    </video>

  </body>
  <script>
    function urlParse (url) {
      // thanks to Intelli :)
      let urlquery = url.split('?')[1]
      if (!urlquery) return []
      let params = urlquery.split('&')
      let array = new Array()
      for (each of params) {
        let split = each.split('=')
        array[split[0]]=split[1]
      }
      return array
    }
    let query = urlParse(document.URL)
    let urlStart = `api/v1/download?url=`
    var video = document.getElementById('video');
    var source = document.getElementById('source');
    let vidurl = document.getElementById('source').getAttribute('src')

    if (query["v"]) {
      source.setAttribute('src', urlStart+'https://youtu.be/'+query["v"]);
      vidurl = document.getElementById('source').getAttribute('src')
      document.getElementById('video').setAttribute('autoplay', "true");
      let txtbox = 'https://youtu.be/'+query["v"]
      document.getElementById('txt').value = 'https://youtu.be/'+query["v"]
      video.load();
    }
    setInterval(() => {
      let txtbox = document.getElementById('txt').value
      if (vidurl !== txtbox) {
        let regexCode = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*?[?&]v=)|youtu\.be\/)([^"&?\/\s]{11})/gi
        if (!txtbox.match(regexCode)) return
        if (!(txtbox.match(regexCode).length == 1)) return
        if (!txtbox.match(regexCode)[0]) return
        document.getElementById('txt').value = "https://"+(txtbox.match(regexCode)[0])
        txtbox = document.getElementById('txt').value
        vidurl = txtbox
        source.setAttribute('src', urlStart+document.getElementById('txt').value);
        video.load();
        video.play();
      }
    }, 1000)
  </script>
</html>